{% extends 'master.html' %}

{% block content %}
<h2>Basket</h2>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
        </tr>
        </thead>
        <tbody>
        {% for data in basketProducts %}
        <tr>
            <td scope="ro2">{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
            <td><button>Remove</button></td>
        </tr>
        {% endfor %}
        
        </tbody>
    </table>
    <h3>Total: £{{totalCost}}</h3>
    <button>Order</button>
</div>
{% endblock content %}